*,
*::after
*::before{margin: 0; padding: 0; border: 0; box-sizing: border-box;}

body{
    background-color: rgb(101, 83, 74);
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.wrapper{
    max-width: 960px;
    background-color:#876b5f;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.Mmm{
    width: 100%;
}
.wrapper p{margin-bottom: 25px;}
.wrapper a{
    color: #4c6443;
    background-color: #bba88e;
    padding: 20px;
    display: inline-block;
    border: 5px solid #7a6153;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.6s;
    .imgBtm{margin-right: 20px;}
}
.wrapper a:hover{
    color: #bba88e ;
    background-color: #4c6443;
}
